* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    position: relative;
    height: 100hv;
    width: 50px;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
    color: #fff;
    background: royalblue;
}